* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", sans-serif;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  text-align: center;
  background-color: white;
  font-size: large;
}

.recallFirm:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

#mapHoverInfo {
  font-size: 1rem;
}

.fntBold {
  font-weight: bold;
}


#modalDisclaimer{
  display: none;
}

/* #displayResults {
  overflow: scroll;
} */

/* #displayResults,
#history,
#displayNYT {
  border: solid black 4px;
  /* min-height: 350px; */
/*} */
/* 
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }

  #nav {
    float: center;
  }
} */
