:root {
  --white: white;
  --black: black;
  --light-blue: rgb(97, 135, 188);
  --green-blue: rgb(81, 142, 139);
  --light-background: rgb(219, 219, 219);
  --dark: #000000;
  --light: #eb764f;
  --background: #d9dcd6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: large;
}

html {
  font-size: 62.5%;
  text-align: center;
  background-color: var(--light-background);
}

/* header styling */
header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 6rem;
  line-height: 2rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  position: relative;
}

/* #displayResults {
  overflow: scroll;
} */

/* #displayResults,
#history,
#displayNYT {
  border: solid black 4px;
  /* min-height: 350px; */
/*} */

.hide {
  display: none;
}

#history,
#news {
  /* margin: 0 1rem; */
}

.row {
  /* margin: 2rem; */
}

.card {
  min-width: 400px;
}
